/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

 @import "compass"

html {
  background-color: rgb(252,248,209); // Old browsers
  @include filter-gradient(#fcf8d1, #fcf8d1, horizontal); // IE6-9
  @include background-image(linear-gradient(left, rgba(252,248,209,1) 0%,rgba(244,223,127,1) 50%,rgba(252,248,209,1) 100%));
}

#top-menu {
    border: {
      bottom: {
        style: solid;
        width: 1px;
        color: black;
      }
    }
}
#content {
  position:absolute;
  left:0;
  right:0;
}

#side-bar {
  border-left: thin solid #2B2A2B;
}