/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html {
  background: -moz-linear-gradient(left, rgba(249,244,199,1) 0%, rgba(234,231,147,1) 52%, rgba(252,245,186,1) 100%);
}

#main {
  font: 300 32px/1.5 Lato, Helvetica, Arial, sans-serif;
  
}

#top-menu {
    border: {
      bottom: {
        style: solid;
        width: 1px;
        color: black;
      }
    }
}
#content {
  position:absolute;
  left:0;
  right:0;
}

#side-bar {
  border-left: thin solid #2B2A2B;
}