%h1 New tip

#user_nav
  -if current_oauth_user
    Signed in as 
    %strong 
      =current_oauth_user.name
    !
    =link_to "Sign out", signout_path, id: "sign_out"
  -else
    = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"

=render 'form'

=link_to 'Back', tips_path
