%ul.title-area
  %li.name
    %h1 
      %a{href: ".." }
        Bubble Bee Body

%section.top-bar-section
  %ul.right
    %li.divider
    %li
      %a{href: "../oils" }
        Oils
    %li.divider
    %li
      %a{href: "../salts" }
        Salts
    %li.divider
    %li
      %a{href: "#" }
        Store
    %li.divider
    %li
      %a{href: "../tips" }
        Tips
    %li.divider
    %li
      %a{href: "#" }
        About
    %li.divider
    %li
      %a{href: "#" }
        Contact