%ul.title-area
  %li.name
    %h1 Bubble Bee Body

%section.top-bar-section
  %ul.right
    %li.divider
    %li
      %a{href: "#" }
        Oils
    %li.divider
    %li
      %a{href: "#" }
        Salts
    %li.divider
    %li
      %a{href: "#" }
        Store
    %li.divider
    %li
      %a{href: "#" }
        Tips
    %li.divider
    %li
      %a{href: "#" }
        About
    %li.divider
    %li
      %a{href: "#" }
        Contact